<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <title>Index</title>
    <style>
      table {
        border-collapse: collapse;
      }
      td,
      th {
        border: 1px solid #ccc;
        padding: 2px 15px;
        text-align: center;
      }
      tr:nth-child(odd) {
        background: #eff;
      }
      s {
        color: #ccc;
      }
    </style>
  </head>
  <body>
    <table>
      {% for file in files %}
      <tr>
        <td>
          <a href="{{ file | e }}">{{ file | e }}</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
